{% extends 'inventory/base.html' %}

{% block content %}
    <a href="{% url 'dashboard' %}" class="btn btn-outline-primary my-3 mx-4">Go back</a>
    <div class="row">
        <div class="col-sm-11 col-md-8 mx-auto mt-5">
            <h1>Low Stock Report</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% if low_stock_items %}
                        {% for item in low_stock_items %}
                            <tr>
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item.name }}</td>
                                <td class="text-danger">{{ item.quantity }}</td>
                                <td>
                                    {% if item.category %}
                                        {{ item.category.name }}
                                    {% else %}
                                        No Category
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">No low stock items found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <a href="{% url 'dashboard' %}" class="btn btn-outline-primary mt-3">Go Back</a>
        </div>
    </div>
{% endblock content %}
